.body-container {
    position: relative;
    text-align: center;
}

.text-container {
    position: absolute;
    text-align: left;
    top: 10px;
    left: 30px;
    color: black;
}

.text-container p {
    margin-bottom: 0;
}

.text-container h2 {
    margin: 0;
}

.bg-img {
    border-radius: 50px;
}